@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* #region: Import - Completed */
    @import url("./sidebar.css");
    @import url("./page.css");
/* #endregion */


/* #region: Global - Completed */
    :root {
        --color-primary-black: #353535;
        --color-second-black: #505050;
        --color-third-black: #484546;
        --color-fourth-black: #201F1F;
        --color-gray: #9A9A9A;
        --color-second-gray: #EAEAEA;
        --color-white: #ffffff;
        --color-black: #000000;
        --color-primary-blue: #104394;
        --color-primary-red: #E93125;
        --color-primary-green: #388E3C;
        --color-line: #464646;
        --color-border: #E3E3E3;
        --color-edit: #F3F4F6;
    }
    body {
        font-family: "Public Sans", sans-serif;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 0!important;
    }
    a, a:hover {
        text-decoration: none!important;
    }
    .form-control:focus, .form-select:focus, .form-check-input:focus {
        box-shadow: none!important;
        outline: none!important;
        border-color: var(--color-second-gray);
    }
    .form .error-message {
        color: var(--color-primary-red);
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
    }
    .form .asterisk {
        color: var(--color-primary-red);
        margin-left: 3px;
    }
    .textarea {
        height: initial!important;
    }
    ::placeholder {
        color: var(--color-gray)!important;
    }
    ::-webkit-input-placeholder {
        color: var(--color-gray)!important;
    }
    ::-ms-input-placeholder {
        color: var(--color-gray)!important;
    }
    .navbar-fluid {
        position: fixed;
        width: 100%;
        z-index: 11;
    }
    .navbar-fluid .sidebar-icon {
        position: absolute;
        top: 5px;
        left: 30px;
        display: block;
        color: var(--color-black);
        font-size: 25px;
        cursor: pointer;
        z-index: 19999;
    }
    .layout-content {
        padding-top: 45px;
        padding-left: 330px;
        padding-right: 30px;
        transition: all 0.3s;
    }
    .layout-content.full-width {
        padding-left: 18px;
        transition: all 0.3s;
    }
    .fr-wrapper > div:first-of-type {
        display: none!important;
    }
    .line-clamp-1, .line-clamp-2, .line-clamp-3, .line-clamp-4, .line-clamp-5 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .line-clamp-1 {
        -webkit-line-clamp: 1;
    }
    .line-clamp-2 {
        -webkit-line-clamp: 2;
    }
    .line-clamp-3 {
        -webkit-line-clamp: 3;
    }
    .line-clamp-4 {
        -webkit-line-clamp: 4;
    }
    .line-clamp-5 {
        -webkit-line-clamp: 5;
    }
/* #endregion */


/* #region: Notification - Completed */
    .notification-modal {
        text-align: center;
        z-index: 99999;
    }
    .notification-modal .modal-body {
        padding: 30px;
    }
    .notification-modal .notification-title {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        color: var(--color-primary-black);
    }
    .notification-modal .notification-description {
        font-size: 16px;
        color: var(--color-second-black);
    }
    .notification-modal .tick-icon {
        font-size: 35px;
        color: var(--color-primary-green);
    }
    .notification-modal .close-icon {
        font-size: 35px;
        color: var(--color-primary-red);
    }
    .notification-modal .triangle-icon {
        font-size: 35px;
        color: var(--color-primary-red);
    }
    .notification-modal .close-button {
        border: 1px solid var(--color-second-gray);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: var(--color-primary-black);
        margin-top: 25px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-fourth-black);
            border-color: var(--color-fourth-black);
            color: var(--color-white);
            transition: all 0.3s;
        }
    }
    .notification-modal .buttons {
        display: flex;
        align-items: center;
        margin-top: 25px;
        justify-content: center;
        gap: 20px;
    }
    .notification-modal .cancel-button {
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        color: var(--color-primary-black);
        transition: all 0.3s;
        &:hover {
            font-weight: 700;
            transition: all 0.3s;
        }
    }
    .notification-modal .modal-delete-button {
        background-color: var(--color-primary-red);
        border: 1px solid var(--color-primary-red);
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        color: var(--color-white);
        width: 200px;
        height: 60px;
        transition: all 0.3s;
        &:hover {
            background-color: var(--color-fourth-black);
            border-color: var(--color-fourth-black);
            transition: all 0.3s;
        }
    }
    .notification-modal .modal-delete-button .delete-icon {
        padding-right: 5px;
    }
/* #endregion */


/* #region: Responsive */
    @media (width < 1921px) {}
    @media (width < 1901px) {}
    @media (width < 1851px) {}
    @media (width < 1801px) {}
    @media (width < 1751px) {}
    @media (width < 1681px) {}
    @media (width < 1601px) {}
    @media (width < 1537px) {}
    @media (width < 1441px) {}
    @media (width < 1401px) {}
    @media (width < 1367px) {}
    @media (width < 1301px) {}
    @media (width < 1281px) {
        .layout-content {
            padding-left: 275px;
            padding-right: 18px;
        }
        .layout-content.full-width {
            padding-left: 18px;
        }
    }
    @media (width < 1201px) {}
    @media (width < 1151px) {}
    @media (width < 1076px) {}
    @media (width < 1025px) {}
    @media (width < 992px) {}
    @media (width < 845px) {}
    @media (width < 768px) {
        .notification-modal .modal-body {
            padding: 20px;
        }
        .notification-modal .tick-icon {
            font-size: 30px;
        }
        .notification-modal .notification-title {
            font-size: 20px;
            padding-bottom: 5px;
        }
        .notification-modal .notification-description {
            font-size: 14px;
        }
        .notification-modal .close-button {
            font-size: 13px;
            margin-top: 15px;
        }
        .notification-modal .buttons {
            margin-top: 15px;
            gap: 15px;
        }
        .notification-modal .cancel-button {
            font-size: 13px;
        }
        .notification-modal .modal-delete-button {
            font-size: 13px;
            width: 160px;
            height: 45px;
        }
    }
    @media (width < 721px) {}
    @media (width < 576px) {
        .layout-content {
            padding-left: 0;
            padding-right: 0;
        }
        .layout-content.full-width {
            padding-left: 0;
        }
        .navbar-fluid .sidebar-icon {
            left: 15px;
        }
    }
    @media (width < 481px) {}
    @media (width < 429px) {}
    @media (width < 415px) {}
    @media (width < 396px) {}
    @media (width < 377px) {}
    @media (width < 361px) {}
    @media (width < 331px) {}
/* #endregion */